<div class="container">
<%= form_with(model: image, local: true, html: { multipart: true }) do |form| %>
  <% if image.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
        <% image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <label for="title"><b>Title</b></label>
      <%= form.text_field :title, class: "form-control", id: "title" %>
  </div>

  <div class="form-group">
      <label for="description"><b>Description</b></label>
      <%= form.text_area :description, class: "form-control", id: "description" %>
  </div>

  <div class="form-check">
      <%= form.check_box :public, class: "form-check-input", id: "public" %>
      <label for="username"><b>Share with Public</b></label>
  </div>

  <div class="form-group">
    <label for="picture"><b>Upload Image</b></label>
    <div class="image-input">
      <%= form.file_field :picture, class: "form-control-file", id: "picture", accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-primary", id: "save" %>
    <%= button_to 'Back', images_path, method: :get, :class => "btn btn-secondary" %>
  </div>
<% end %>

</div>