<div class="container">
  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>
  <h1>Images</h1>
  <br>

  <h4><strong>Filter Images</strong></h4>
  <%= form_with(url: images_path, method: "get", local: true) do |form| %>
    <div class="form-group form-inline">
        <label for="title"><b>Title:</b></label>
        <%= form.text_field :title, class: "form-control mx-3", id: "title" %>
        <label for="description"><b>Description:</b></label>
        <%= form.text_field :description, class: "form-control mx-3", id: "description" %>
        <label for="username"><b>Author Username:</b></label>
        <%= form.text_field :username, class: "form-control mx-3", id: "username" %>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class: "btn btn-primary", id: "submit" %>
      <%= button_to 'Clear Filters', images_path, method: :get, :class => "btn btn-secondary" %>
    </div>
  <% end %>
  <br>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Picture</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><%= image_tag image.picture %></td>
          <td><%= link_to User.find(image.user_id).username, '/users/%s' % image.user_id %></td>
          <td><%= image.title %></td>
          <td><%= image.description %></td>
          <td><%= link_to 'Show', image %></td>
          <% if logged_in? && image.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_image_path(image) %></td>
            <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>