<div class="container">
  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>
  <h1>Images</h1>
  <br>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Picture</th>
        <th>Author</th>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |image| %>
        <tr>
          <td><%= image_tag image.picture %></td>
          <td><%= link_to User.find(image.user_id).username, '/users/%s' % image.user_id %></td>
          <td><%= image.title %></td>
          <td><%= image.description %></td>
          <td><%= link_to 'Show', image %></td>
          <% if logged_in? && image.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_image_path(image) %></td>
            <td><%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>