<div class="container">
  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>

  <p>
    <strong>Title:</strong>
    <%= @image.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @image.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @image.user_id %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag @image.picture %>
  </p>

  <%= button_to 'Edit Image', edit_image_path, :class => "btn btn-primary" %>
</div>

